# --- Database Configs ---
DB_HOST=mariadb
DB_PORT=3306
DB_NAME=pulse_db
DB_USER=pulse_user
DB_PASS=StrongPassword123

# --- Bot Configs ---
BOT_TOKEN=123456789:ABCdefGHIjklMNOpqrSTUvwxYZ
ADMIN_IDS=123456789,987654321

# --- Marzban Configs ---
MARZBAN_URL=https://your-panel.com:8000
MARZBAN_USERNAME=admin
MARZBAN_PASSWORD=admin_password